[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/muntazir/Desktop/linux]
row=5
col=0

[/home/muntazir/Desktop/bitmap.pdf]
row=3
col=1

[/home/muntazir/Desktop/bin]
row=7
col=1

[/home/muntazir/Desktop/Vim Cheat Sheet.md]
row=7
col=0

[/home/muntazir/Desktop/fstab]
row=8
col=0

[/home/muntazir/Desktop/languages]
row=3
col=0

[/home/muntazir/Desktop/yt-dlp]
row=2
col=0

[/home/muntazir/Desktop/IMG_20230818_123431_165.jpg]
row=2
col=1

[/home/muntazir/Desktop/things]
row=5
col=1

[/home/muntazir/Desktop/Python.pdf]
row=0
col=1

[/home/muntazir/Desktop/Test]
row=4
col=0

[/home/muntazir/Desktop/learn]
row=6
col=0

[/home/muntazir/Desktop/ali.sh]
row=6
col=1

[/home/muntazir/Desktop/Vim Cheat Sheet.pdf]
row=1
col=1

[/home/muntazir/Desktop/me.jpg]
row=4
col=1

[Trash]
row=0
col=0

[/home/muntazir]
row=1
col=0

